@model IEnumerable<Stock4.Models.StockList>

@{
    ViewData["Title"] = "ValidUserIndex";
    Layout = "_logoutuser";

}

<h1>Stock List</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StockName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockPrice)
                </td>
                <td>
                    <a asp-controller="ValidUser" asp-action="VUStockDetails" asp-route-id="@item.StockId" class="btn btn-info" role="button">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
