@using Stock4.Models
@using Stock4.Repositories
@using Stock4.Controllers
@model Stock4.Models.StockList

@{
    ViewData["Title"] = "VUStockDetails";
    Layout = "_logoutuser";

}

<h1>Details</h1>
<h3>Hi @ViewBag.UserName</h3>


<div>
    <h4>StockList</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockPrice)
        </dd>
    </dl>
</div>


@if(ViewBag.WatchlistBtn==null)
{
<div>
    <form asp-controller="UserWatchlist1" 
            asp-action="New">
        <input type="hidden" asp-for="@Model.StockId" />
        <input type="submit" value="Add to Watchlist" class="btn btn-warning" /> 
    </form>
</div>
}
<br />

@if (ViewBag.portBtn == null)
{
    <div>
        @using (Html.BeginForm("BuyStock", "UserPortfolio"))
        {
            <input type="number" name="BuyQty" />
            <input type="hidden" id="StockId" name="StockId" value="@Model.StockId" />
            <input type="hidden" id="StockPrice" name="StockPrice" value="@Model.StockPrice" />
            <input type="hidden" id="StockName" name="StockName" value="@Model.StockName" />
            <br />
            <input class="btn btn-primary" type="submit" value="BUY">
        }
    </div>
}
else
{
    <div>
        @using (Html.BeginForm("AddStock", "UserPortfolio"))
        {
            <input type="number" name="BuyQty" />
            <input type="hidden" id="StockId" name="StockId" value="@Model.StockId" />
            <input type="hidden" id="StockPrice" name="StockPrice" value="@Model.StockPrice" />
            <input type="hidden" id="StockName" name="StockName" value="@Model.StockName" />
            <br />
            <input class="btn btn-outline-success" type="submit" value="Add stock1">
        }
    </div>
}
<div>
    <a asp-action="ValidUserIndex" class="btn btn-secondary" role="button">Back to Stocks</a>
</div>




