@using Stock4.Models
@using Stock4.Repositories
@using Stock4.Controllers
@model Stock4.Models.StockList



  



@{
    ViewData["Title"] = "VUStockDetails";
}

<h1>VUStockDetails</h1>

<div>
    <h4>StockList</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockPrice)
        </dd>
    </dl>
</div>



<div>
    <form asp-controller="UserWatchlist1" 
            asp-action="New">
        <input type="hidden" asp-for="@Model.StockId" />
        <input type="submit" value="Add to Watchlist" class="btn btn-primary pull-right" /> |
        
    </form>
</div>



<div>
    <a asp-action="ValidUserIndex">Back to List of Stocks</a>
</div>




@*@foreach (var item in UserWatchlist1)
{
    if(item.UserId==ViewBag.UserId && item.==
    {

    }*@