@model IEnumerable<Stock_4.Models.UserPortfolio>

@{
    ViewData["Title"] = "UserPortfolioIndex";
    Layout = "_logoutuser";

}

<h1>Your Holdings</h1>

<table class="table">
    <thead>
        <tr>
            <th>Stock Name</th>
            <th>Quantity</th>
            <th>Avg Price</th>
            <th>Current Price</th>
            <th>Avg Price Total</th>
            <th>Current Price Total</th>
            <th>Profit & Loss</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StockName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoughtAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoughtAtTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPriceTotal)
                </td>
               
                <td>
                    @{ if (@item.ProfOrLoss < 0)
                            {
                            <span style="color:red"><b>@Html.DisplayFor(modelItem => item.ProfOrLoss)</b></span>
                            }
                        else if (@item.ProfOrLoss > 0)
                            {
                                <span style="color:mediumseagreen"><b>@Html.DisplayFor(modelItem => item.ProfOrLoss)</b></span>
                            }
                        else
                            {
                            <span style="color:darkgray"><b>@Html.DisplayFor(modelItem => item.ProfOrLoss)</b></span>
                            }
                    }
                    
                </td>
                <td>
                    <div>
                        @using (Html.BeginForm("SellAllStock", "UserPortfolio"))
                        {
                            <input type="hidden" id="Id" name="Id" value="@item.Id" />
                            <input type="hidden" id="CurrentPrice" name="CurrentPrice" value="@item.CurrentPrice" />
                            <input class="btn btn-danger btn-sm" type="submit" value="Sell All">
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="ValidUser" asp-action="ValidUserIndex" class="btn btn-secondary" role="button">Back to Stocks</a>
</div>
