@model Stock4.Models.StockList

@{
    ViewData["Title"] = "Details";
    Layout = "_LogoutLayout";

}

<h1>Details</h1>

<div>
    <h4>StockList</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StockId">Edit</a> |
    <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary" role="button">Back</a>
</div>
