@model IEnumerable<Stock4.Models.AuthorizedUser>

@{
    ViewData["Title"] = "ViewCustomers";
    Layout = "_LogoutLayout";

}

<h1>Customers</h1>

<form method="get" asp-action="ViewCustomers">
    <p>
        <input type="search" 
               placeholder="Enter Name, Email Id, Pan Number, City name... " 
               value="@ViewData["GetUserData"]"
               name="Usersearch"
               style="width:600px;"/>
        <input type="submit" 
               value="Search"
               class="btn btn-info"/>
        <a asp-action="ViewCustomers">See all Customers</a>
    </p>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PanNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncomePerAnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmploymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pincode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PanNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncomePerAnum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmploymentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pincode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                
            </tr>
        }
    </tbody>
</table>
