@model IEnumerable<Stock_4.Models.CalcAPI>

@{
    ViewData["Title"] = "ApiCalcIndex";
}

<h1>ApiCalcIndex</h1>

<p>
    <a asp-action="ApiCalcCreate">Calculate</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stockprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StampDuty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brokerage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stockprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StampDuty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brokerage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                    <a asp-controller="CalcAPI" asp-action="ApiCalcDelete" asp-route-id="@item.Id">aDelete</a>
            </td>
        </tr>
}
    </tbody>
</table>
